body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: url('cursor.png'), auto;
}

header {
    background: #ffffff;
    color: white;
    padding: 100px 0;
}

.header a img {
    width: 200px; /* Adjust this value to increase or decrease the width */
    height: auto; /* This maintains the aspect ratio */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a img {
    width: 50px;  /* Adjust size as needed */
    height: auto;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        margin: 5px;
    }
    
    nav ul li a img {
        width: 40px;  /* Adjust size for smaller screens */
    }

    .intro-container {
        height: 60vh;
    }

    .gallery img {
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 3px;
    }
    
    nav ul li a img {
        width: 30px;  /* Adjust size for smallest screens */
    }

    .intro-container {
        height: 50vh;
    }

    .gallery img {
        max-width: 100px;
    }
}
